<div class="divider">✦ Inquiries</div>

<div class="duo-col">
    <h1></h1>
    <div>
        <h3>To open a ticket, fill out <a href="https://notionforms.io/forms/ul789r" target="_blank">this form ↗</a> and we'll have a member of our team reach out.</h3>
        <br>
        <h3>For any questions/information regarding pricing, timeframe, or other that are pertinent to Refuge Studio,
            shoot us a message in <a target=" ↗">#questions ↗</a>.</h3>
            <br>
            <h3><a target="_blank">refugevr.co ↗</a></h3>
    </div>
</div>