<div class="divider">✦ Our Work</div>
<div class="showcase-top">

    <div class="showcase-component-lg">
        <img src="{{site.baseurl}}/assets/uploads/WW40_SHOWCASE-THUMB.png">
        <div class="showcase-meta">
            <h3>WW40</h3>
            <p>Poster</p>
        </div>
    </div>

    <div class="showcase-component-sm">
        <img src="{{site.baseurl}}/assets/uploads/FLATLINE.png">
        <div class="showcase-meta">
            <h3>FLATLINE</h3>
            <p>Logo</p>
        </div>
    </div>

</div>

<div class="showcase">
    <div class="showcase-component-sm">
        <img src="{{site.baseurl}}/assets/uploads/3DA_WRISTBANDS.jpg">
        <div class="showcase-meta">
            <h3>3DA Wristbands</h3>
            <p>3D Asset</p>
        </div>
    </div>

    <div class="showcase-component-sm">
        <img src="{{site.baseurl}}/assets/uploads/FLATLINE.png">
        <div class="showcase-meta">
            <h3>FLATLINE</h3>
            <p>Logo</p>
        </div>
    </div>

    <div class="showcase-component-sm">
        <img src="{{site.baseurl}}/assets/uploads/FLATLINE.png">
        <div class="showcase-meta">
            <h3>FLATLINE</h3>
            <p>Logo</p>
        </div>
    </div>
</div>

