.clients {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: $padding-lg;
}

.client-container {
    width: 100%;
    border-left: 1px solid #e8e8e860;
    border-top: 1px solid #e8e8e860;
    padding-left: 48px;


}


@media only screen and (max-width: $media-md) {
    .clients {
        padding: $padding-md;
    }

    .client-container {
        padding-left: 32px;
    }
}

@media only screen and (max-width: $media-sm) {
    .clients {
        grid-template-columns: 1fr;
        padding: $padding-sm;
    }
    .client-container {
        padding-left: 16px;
    }

}