.divider {
    opacity: .6;
    margin: 0 $padding-lg 0 $padding-lg;
    padding-bottom: 16px;
    padding-top: 64px;
    border-bottom: 1px solid $bodyColor;
    font-size: 17px;
}


@media only screen and (max-width: $media-md) {
    .divider {
        margin: 0 $padding-md 0 $padding-md;
        padding-bottom: 24px;
        padding-top: 48px;
    }
}

@media only screen and (max-width: $media-sm) {
    .divider {
        margin: 0 $padding-sm 0 $padding-sm;
        padding-bottom: 24px;
        padding-top: 48px;
    }
}