@font-face {
  font-family: 'Cirka';
  src: url('../fonts/PPCirka-Variable.ttf') format('truetype');
}

h1 {
  font-family: 'Cirka';
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0;
}

h3 {
  font-family: 'Cirka';
  font-size: 26px;
  font-weight: 300;
  margin: 0;
  line-height: 115%;
}

p {
  font-size: 17px;
  margin: 0;
}

a {
  text-decoration: underline;
  color: $bodyColor;
}

a:hover {
  text-decoration: none;
}