footer {
    padding: $padding-lg;
    margin-top: 64px;
    svg {
        height: 16px;
    }
}

@media only screen and (max-width: $media-md) {
    footer {
        padding: $padding-md;
        margin-top: 48px;
        svg {
            height: 16px;
        } 
    }
}


@media only screen and (max-width: $media-sm) {
    footer {
        padding: $padding-sm;
        margin-top: 48px;
        svg {
            height: 16px;
        } 
    }
}

