ul li {
  list-style: none;
}

.toggle-menu {
  width: 100%;
  margin: 0;
  padding: 0;
}

.toggle-menu>li:first-child {
  border: none;
}

.toggle-menu>li {
  position: relative;
  border-top: 1px solid #e8e8e830;
  padding: 32px 0px 32px 0px;
}

.toggle-menu .link a {
  position: relative;
  display: block;
  font-family: "Cirka";
  font-size: 26px;
  text-decoration: none;
}

.submenu {
  display: none;
  background: none;
  padding-top: 32px;
  opacity: .6;
  font-size: 18px;
  width: 50%;
}

// .fa {
//   position: absolute;
//   top: 50%;
//   right: 12px;
//   transform: translateY(-50%);
// }

// .active .fa {
//   transform: translateY(-50%) rotate(180deg);
// }