<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico?' | relative_url }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
<!-- why are you looking up our skirt ._. -->

  <div class="bg"></div>
  {% include masthead.html %}
  {% include showcase.html %}
  {% include inquiries.html %}
  {% include footer.html %}


  <!-- {{ content }} -->
</body>

</html>